@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Poppins&family=Righteous&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main a{
  text-decoration: none;
  color: #FFDA0F;
}

main {
  height: 100vh;
}

.navbar {
  background-color: #0f0f0f;
}

.nav-link:hover {
  color: #FFDA0F !important;
}

.logo h1 {
  font-family: 'Righteous', sans-serif;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.title > span {
  color: #FFDA0F;
  font-family: 'Chau Philomene One', sans-serif;
  font-size: 25px;
}

.navbar-nav {
  font-family: 'Righteous', sans-serif;
  font-size: 20px;
}

h1 {
  margin: 10px 0px;
  font-family: 'Righteous', sans-serif;
}

.create-transaction {
  display: flex;
  background-color: #0f0f0f;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  border-radius: 4px;
  padding: 10px 0px;
  font-family: 'Chau Philomene One', sans-serif;
  font-size: 20px;
  color: white;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 40px;
}

h2 {
  font-family: 'Righteous', sans-serif;
  text-align: center;
}

.create-transaction-data {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.transaction-name, .transaction-value, .types, .type-credit, .type-debit {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: space-between;
}

.type-credit, .type-debit {
  margin: 0px 15px;
}

#transaction-name, #transaction-value {
  color: white;
  font-size: 18px;
  border: none;
  background-color: #0f0f0f;
  border-bottom: 2px solid #FFDA0F;
  margin: 5px 0px;
}

#transaction-name:focus, #transaction-value:focus {
  color: white;
  font-size: 18px;
  outline: none;
}


#credit, #debit {
  accent-color: #FFDA0F;
}

.submit-transaction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

#save-transaction {
  width: 100px;
  text-transform: uppercase;
  color: black;
  background-color: #FFDA0F;
  text-decoration: none;
  font-family: 'Righteous', sans-serif;
  font-size: 14px;
  margin: 10px 0px;
  padding: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#save-transaction:hover {
  width: 100px;
  color:  white;
  transform: scale(1.1);
}

.show-transactions {
  display: flex;
  background-color: #0f0f0f;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  border-radius: 4px;
  padding: 10px 0px;
  font-family: 'Chau Philomene One', sans-serif;
  font-size: 20px;
  color: white;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

.logo-balance {
  font-size: 40px;
}

.transactions-history {
  color: white;
}

.show-balance {
  margin: 0.5rem 2rem;
}

.hr {
  border: 1px solid #FFDA0F;
  margin: 0.5rem 0;
}

.transactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem;
}

.transaction {
  display: flex;
  justify-content: space-between;
}

.credit {
  color: greenyellow;
}

.debit {
  color: red;
}

.footer {
  background-color: #0f0f0f;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Chau Philomene One', sans-serif;
}

.footer-links, ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 35px;
  list-style: none;
}

a:hover {
  color: #FFDA0F;
}