@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Poppins&family=Righteous&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  background-color: #1c1a1d;
}

.navbar {
  background-color: #eec044;
}

.logo h1 {
  font-family: 'Righteous', sans-serif;
  font-size: 25px;
  color: black;
}

.title > span {
  color: white;
  font-family: 'Chau Philomene One', sans-serif;
  font-size: 25px;
}

.navbar-nav {
  font-family: 'Righteous', sans-serif;
  font-size: 20px;
}
