@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Poppins&family=Righteous&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg  {
  height: 100vh;
  background-color: #eec044;
}

.bg-login {
  height: 75vh;
  background-color: rgb(39, 39, 39);
  border-radius: 20px;
  -webkit-box-shadow: -1px 6px 16px 0px rgb(104, 82, 23);
  -moz-box-shadow: -1px 6px 16px 0px rgb(104, 82, 23);
  box-shadow: -1px 6px 16px 0px rgb(104, 82, 23);
}

.login-left {
  height: 75vh;
  border-radius: 20px 0px 0px 20px ;
  background-color: rgb(39, 39, 39);
  background-image: url('../../img/fundo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-right {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.form {
  margin-top: 50px;
}

.title {
  text-align: center;
  margin: 0px 0px 60px 0px;
  font-family: 'Righteous', sans-serif;
}

.title > h1 {
  font-size: 60px;
}

span {
  color: #eec044;
  font-family: 'Chau Philomene One', sans-serif;
  font-size: 90px;
}

.labels {
  padding: 10px;
  font-family: 'Righteous', sans-serif;
}

.labels-text {
  padding: 3px 0px;
  font-size: 20px;
}

input {
  border: none;
  border-bottom: 2px solid #eec044;
  background: transparent;
  font-size: 25px;
  width: 250px;
  padding: 5px 0px;
}

input:focus {
  outline: none;
  color: white;
  font-size: 16px;
  transform: scale(1.08);
}

.button {
  text-transform: uppercase;
  color: white;
  background-color: #eec044;
  text-decoration: none;
  font-family: 'Righteous', sans-serif;
  margin-top: 2rem;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}